{% extends "wiki/base_site.html" %}
{% load i18n wiki_tags sekizai_tags static %}

{% block wiki_site_title %}- Wiki{% endblock %}

<!-- {% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'wiki/main.css' %}">
{% endaddtoblock %} -->


{% block wiki_header_branding %}
<a class="navbar-brand" href="/">장고위키</a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
  <li class="active"><a href="/_dir/">
    <span class="fa fa-list"></span>
    <span class="hidden-xs"></span>목록</a></li>
  <li class="active"><a href="{% url 'wiki:root' %}">
    <span class="fa fa-bolt"></span>
    <span class="hidden-xs"></span>최근</a></li>
  <li class="active"><a href="{% url 'wiki:root' %}">
    <span class="fa fa-comments-o"></span>
    <span class="hidden-xs"></span>토론</a></li>
  <li class="active"><a href="{% url 'wikitest1' %}">
    <span class="fa fa-camera"></span>
    <span class="hidden-xs"></span>test</a></li>
  <!-- <li class="active"><a href="{% url 'wikitest2' %}">
    <span class="fa fa-car"></span>
    test2</a></li> -->
</ul>
{% endblock %}