{% extends "wiki/base_site.html" %}
{% load i18n wiki_tags sekizai_tags static %}

{% block wiki_site_title %} Wiki{% endblock %}

<!-- {% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'wiki/main.css' %}">
{% endaddtoblock %} -->


{% block wiki_header_branding %}
<a class="navbar-brand" href="/">장고 Wiki</a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
  <li class="active"><a href="/_dir/">목록</a></li>
  <li class="active"><a href="{% url 'wiki:root' %}">최근</a></li>
  <li class="active"><a href="{% url 'wiki:root' %}">토론</a></li>
  <li class="active"><a href="{% url 'wikitest1' %}">test1</a></li>
  <li class="active"><a href="{% url 'wikitest2' %}">test2</a></li>
</ul>
{% endblock %}